.Webservice/.alpackages/
Webservice/.vscode/
Webservice/.snapshots/
Webservice/*.app
Webservice/app.json

./UserAPIClient/node_modules/
./UserAPIClient/package-lock.json

./UserAPI/.alpackages/
./UserAPI/.snapshots/
./UserAPI/node_modules/
./UserAPI/package-lock.json

Webservice/.alpackages